@import url('https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243E63;
}

section {
    padding: 0 32px;
    
}

div {
    unicode-bidi: isolate;
}


.purple {
    color: #6415FF;
}

img {
    width: 100%;
}

h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

a {
    display: inline;
    text-decoration: none;
    font-size: 14px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

/*NAV-BAR*/

.row {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.row__nav {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
}

.nav__bar {
    display: flex;
    padding-top: 32px;
}

.logo__container {
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
}

.nav__logo {
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin-right: 10px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
}

ul {
    list-style: none;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    max-width: 625px;
    width: 100%;
    align-items: center;
    font-weight: 600;
}

.nav__link--primary {
    background-color: #6415FF;
    color: white;
    border-radius: 50px;
    margin: 0;
    padding: 10px 32px;
}

/*LANDING*/

.header__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 96px 0;
}

.header__image--wrapper {
    width: calc(60%);
    display: flex;
}

.header__text {
    width: 100%;
    max-width: 512px;
}

.header__para {
    margin: 32px 0;
    max-width: 500px;
}

.header__customers--image {
    opacity: 50%;
    margin-top: 16px;
}

.header__email--wrapper {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex
;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(229, 231, 235);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--button {
    z-index: 2;
    background-color: #6415FF;
    font-size: 14px;
    color: white;
    margin: 8px;
    width: 160px;
    height: calc(100% - 16px);
    font-weight: 700;
    border-radius: 50px;
    border: none;
}

.header__customers {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
}

/*FEATURES*/

#features {
    position: relative;
}

#features .feature__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    padding: 96px 0;
    margin: 0 auto;
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.section__title, .section__subtitle, .section__para {
    text-align: center;
}
.section__title {
    font-size: 16px;
}

.section__subtitle {
    font-size: 48px;
}

.features {    
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    display: flex;
    width: calc(100% / 3);
}

.feature__img--wrapper {
    border: solid 2px #E2E8F0;
    border-radius: 50%;
    padding: 20px;
    margin: 0;
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature__img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
}

.feature__title {
    display: flex;
    align-items: end;
}

.feature__para {
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(634px / 3);
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
    display: flex;
}